<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter Full Name</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="name">
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint>Official Name as on Certificate</mat-hint>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Actual birthday</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dob">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Choose Gender</mat-label>
    <mat-select [(ngModel)]="selectedGender">
      <mat-option *ngFor="let gender of genders" [value]="gender.value">
        {{gender.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
  <button mat-raised-button color="primary" (click)="calculate()">Get Report</button>
</p>

<div *ngIf="generatedNumbers.length > 0">
  <p class="body-2">{{name}}</p>
  <p class="body-1">{{dob}}</p>
  <p>{{selectedGender}}</p>
</div>

<p *ngIf="generatedNumbers.length > 0">
  <mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[4]}}">{{fours}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[9]}}">{{nines}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[2]}}">{{twos}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[3]}}">{{threes}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[5]}}">{{fives}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[7]}}">{{sevens}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[8]}}">{{eights}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[1]}}">{{ones}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div matTooltip="{{EarthElements[6]}}">{{sixes}}</div>
    </mat-grid-tile>
  </mat-grid-list>
</p>

<div *ngIf="generatedNumbers.length > 0">
  <h3 class="subheading-2">Date of Birth and Name Analysis</h3>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personality traits Analysis on '{{name}}'
        </mat-panel-title>
        <mat-panel-description>
          Hidden traits from your name
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Personality Number: {{personalityNumber}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let h of heartDesireNumber">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Secret desires Analysis on '{{h.Name}}'
        </mat-panel-title>
        <mat-panel-description>
          Hidden traits from your name
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="caption">Secret Desire Number: {{h.Number}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>