.example-spacer {
    flex: 1 1 auto;
}

mat-grid-tile {
    background: lightblue;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-grid-list {
    min-width: 15rem;
}

@media (min-width:600px) {
    .mat-grid-list {
        max-width: 50vw;
    }
}

.large-font {
    font-size: xxx-large;
}

.small-font {
    font-size: xx-small;
}

.mat-grid-tile-footer,
.mat-grid-tile-header {
    justify-content: center;
    background-color: transparent !important;
}

.details-card {
    max-width: 30rem;
}

.info-form {
    padding: 0.5rem;
}